* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:13px;
}

h1{
  font-size: 26px;
}

.bookers-title{
  font-weight: 900;
  font-size:26px;
}

body{
  margin:33px;
}

.bookers-title-in-box{
  font-weight: bold;
  font-size: 13px;
}

.bookers-description{
  margin:33px;
}

.home-link{
  margin:33px;
  color :#666666;
}

.home-link:hover,.link:hover{
  color: white;
  background-color: black;
}

/* for index.html.erb */

th{
  padding:1px 1px 5px;
}

td{
  padding:1px 5px 7px;
}

.link{
  color:#000;
  font-size:13px;
}

.create-heading{
  font-size: 19px;
  margin:16px 0px;
}

.create-field{
  margin-bottom:10px
}

.create-submit{
  margin-bottom: 10px
}

/* edit.html.erb